/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* test */
    /* border: 1px red solid;    */
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}

/* Wrapper & Container */
.app-wrapper{
    width: 100%;
    min-width: 1000px;
    height: 100vh;
    background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 75%;
    max-width: 1200px;
    height: 90%;
    /* display: flex; */
}

/* Columns */
.col-left{
    width: 35%;
    height: 100%;
    float: left;
    overflow: hidden;
    border-right: 1px solid rgb(200, 200, 200);
    background-color: white;
    display: flex;
    flex-direction: column;
 
}
.col-right{
    width: 65%;
    height: 100%;
    float: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  ;
}
/* Media query */
@media screen and (max-width:1100px){
    .container{
        width: 85%;
    } 
}  

/* Rows */
.user-info, .contact-info{
    height: 70px;
}
.disclaimer{
    height: 80px;
    background-color: #8edafb;
}
.send-message{
    height: 75px;
    background-color:#f3eeea;
}
.contact-filter{
    height: 50px;
    background-color: #f3eeea;
}

.contacts {
    height: 100%;
    overflow-y: auto;
}
.contacts li{
    list-style-type: none;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(200, 200, 200) ;
    cursor: pointer;
}
.contacts li:hover{
    background-color: rgba(219, 219, 219,0.5);
}
.contacts li.active{
    background-color: rgb(219, 219, 219);
}
.contacts img{
    margin-right: 10px;
}

/* Common User & Contact */
img{
    border-radius: 50%;
    margin-right: 5px;
} 
.user img, .contact img{
    width: 50px;
} 
.contacts img{
    width: 60px;
} 
.contacts span, 
.user-info span, 
.contact-info span, 
.disclaimer span{
    font-size: 15px;
    font-weight: bold;
} 
.user, .contact {
    background-color: #eaeaea ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.user-info, .contact-info {
    display: flex;
    align-items: center;
}
.contact-info span {
    display: block;
}
.contact-info .last-access {
    font-size: 11px;
    padding-top: 4px;
    color: grey;
}
.user .actions, .contact .actions{
    color: grey;
    font-size: 20px;
}
.user .actions{
    text-align: right;
}
.actions *{
    margin-left: 7px;
}

/* Chat */
.chat{
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
    padding: 30px 50px;
    overflow-y:auto;
}
.history li{
    list-style-type: none;
    margin-bottom: 15px ;
    width: 40%;
    max-width: 60%;
    border-radius: 10px ;
    padding: 17px;
}
.message{
    position: relative;
    
}
.time-and-date{
    position: absolute;
    right: 10px;
    bottom: 6px;
    font-size: 11px;
    color: grey;
}

.message .text{
    margin-bottom: 9px;
}
.received{
    background-color: white ;
    float: left;
    clear: both;
}

.sent{
    background-color: #d5f9ba ;
    float: right;
    clear: both;
}


/* Message menu */
.arrow{
    display: none;
    position: absolute;
    top:7px;
    right: 7px;
    color: grey;
    z-index: 2;
    text-align: center;
    padding: 5px;
}
.message:hover .arrow {
    display: block;
}
/* .arrow.active{
    display: block;
} */
.arrow i{
    /* font-size: 20px; */
}

.received .arrow {
    background-color:white ;
    box-shadow: 0px 0px 5px white;
    box-shadow: 0px 1pxpx 5px #888;
}
.sent .arrow {
    background-color: #d5f9ba;
    box-shadow: 0px 0px 5px #d5f9ba;
    box-shadow: 0px 1pxpx 5px #888;
}
.message .actions-menu{
    display: none; 
    background-color: white; 
    position: absolute;
    top: 25px;
    right: 7px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0px 2px 5px #888;
}

.actions-menu.active{
    display: block;
}


.actions-menu * {
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: black;
    border-bottom: 1px solid rgb(228, 228, 228)
}

/* disclaimer */
.circle {
    width: 40px;
    height: 40px;
    margin: 15px ;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafb;
}
.disclaimer .desktop-notifaction {
    font-weight: normal;
    font-size: 12px;
    text-decoration: underline;
    display: block;
    color: grey;
}
.disclaimer{
    display: flex;
    align-items: center; 
}

/* Contact filter */
.contact-filter {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}
.contact-filter input{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 7px 7px 7px 40px ;
    border-style: none;
    
}

/* Send message */
.write-area {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-grow:  1 ;  
}

.write-area input{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 13px 13px 13px 40px ;
    border-style: none;  
}



.send-message{
    display: flex;
    align-items: center;
}
.send-message i{
    font-size: 20px;
    padding: 20px;
}

.send-message .contact-filter{
    flex-grow:  1 ;
}
.emoji, .audio{
    flex-grow:  0 ;
}

