<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp Web</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
   
    <div id="root">

        <!-- Wrapper -->
        <div class="app-wrapper">

            <!-- Container -->
            <div class="container">
                
                <div class="col-left"> 
                    
                    <!-- User -->
                    <div class="user">

                        <div class="user-info">
                            <img src="img/avatar_io.jpg" alt="Mine avatar">
                            <span>Nome Utente</span>
                        </div>

                        <div class="actions">
                            <i class="far fa-comment-alt"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="far fa-comment-alt"></i>
                        </div>
                    </div>
                    
                    <!-- Notification -->
                    <div class="disclaimer">

                        <div class="circle">
                            <i aria-hidden="true" class="fa fa-bell-slash"></i>
                        </div>

                        <div class="disclaimer-text">
                            <span>Ricevi notifiche di nuovi messaggi</span> 
                            <a class="desktop-notifaction">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- Filter contacts -->
                    <div class="contact-filter">
                        
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                        
                    </div>

                    <!-- Contacts list -->
                    <ul class="contacts">

                        <!-- Element template -->
                        <li 
                        v-for='element, index in contacts'
                        @click='activeChat(index)'>
                            <img :src="'img/avatar' + element.avatar + '.jpg'" alt="Contact avatar">
                            <span>{{element.name}}</span>
                        </li> 
                    </ul>
                </div>

                <div class="col-right">

                    <!-- Contact info -->
                    <div class="contact">

                        <div class="contact-info">
                            <img :src="'img/avatar' + contacts[currentActiveContact].avatar + '.jpg'" alt="Contact avatar">
                            <div>
                                <span>Samuele</span> 
                                <span class="last-access">Ultimo accesso alle</span>
                            </div>
                        </div>

                        <div class="actions">
                            <i class="far fa-comment-alt"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="far fa-comment-alt"></i>
                        </div>  
                    </div>

                    <!-- Chat -->
                    <div class="chat">

                        <!-- Text messages -->
                        <ul class="history"> 
                            
                            <li 
                            class='message'
                            v-for="element in contacts[currentActiveContact].messages"
                            :class="{'received' : element.status === 'received', 'sent' : element.status === 'sent' }">
                                <div class="text">{{element.text}}</div>
                                <div class="time-and-date">{{element.date}}</div>
                            </li>
                        </ul>
                    </div>

                    <!-- Send message -->
                    <div class="send-message">

                        <div class="emoji">
                            <i class="far fa-smile"></i>
                        </div>

                        <div class="write-area">
                            <input type="text" placeholder="Scrivi un messaggio">
                        </div>

                        <div class="audio">
                            <i class="fas fa-microphone"></i> 
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>